<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863118669104-3f5d31otvk3poo9m6102ffonupcf1vbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863118669104-3f5d31otvk3poo9m6102ffonupcf1vbn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>863118669104-016ah3d04j4ovnn7383uilvuurkar0tb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtE-HR-oxjq7pKES7sPlajWUH9u0iddO8</string>
	<key>GCM_SENDER_ID</key>
	<string>863118669104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shabeer.wowfy</string>
	<key>PROJECT_ID</key>
	<string>wowfy-dde3b</string>
	<key>STORAGE_BUCKET</key>
	<string>wowfy-dde3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863118669104:ios:9335c5b95edb8d1263c4f5</string>
</dict>
</plist>